<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>

    <link rel="icon" type="img/png" href="https://admerk-api-70423f972874.herokuapp.com/static/img/api_icon.png">
    <link rel="stylesheet" href="https://admerk-api-70423f972874.herokuapp.com/static/css/style.css">
</head>
<body>
<div class="container">
    <div class="logo-box">
        <img src="https://admerk-api-70423f972874.herokuapp.com/static/img/api.png" alt="API Logo">
    </div>
    <div class="info">
        <h1>You've entered in the AdmerkCorp API Endpoint</h1>
        <p><span class="text-extra">for api documentation:</span> <span class="doc-link"><a href="/docs">Doc <span class="return-icon">&rarr;</span></a></span></p>
    </div>
    <div class="author_info">
        <p>developed by: <strong>Mosfik & Farzana</strong></p>
    </div>
</div>
</body>
</html>